*{
    margin = 0 auto;
    padding = 0;
}
body{
    background-color: white;
    width:90%;
    box-sizing:border-box;
    margin:20px;
    }

.containerRT{
    color: #3b5f5e;
    }
.containerRT-title{
    display: flex;
    justify-content: space-between;
    box-sizing:border-box;
    gap:10px;
    margin: 0 auto;

   
}
.title{
    width:50%;
    }

.button{
    text-align: center;
    background-color: #dfe1e7;
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    }
.title-button{
    justify-content:center;
}
.button: hover{
    background-color: grey;
    }
.introduction{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    border: 1px solid;
    }
.intro{
    width: calc(50% - 10px);
    }
.containerRT-content{
    width:100%;
    display:flex;
    flex-wrap: wrap;

}
.grid{
    width:100%;
    box-sizing: border-box;
    border: 1px solid;
    }
.catalog{
    display:grid;
    grid-template-columns: 150px 150px;
    grid-template-rows:20px 60px 10px 20px 10px 80px 10px ;
    gap:10px
    border: 1px solid;
    
    }
.item{
    border: 1px solid;
    text-align: center;
    }
.item > img{
    width: 100%;
    }

.containerRB{
    width:80%;
    margin: 0 auto;
}
.containerRB-title{
    display: flex;
    justify-content: space-between;
    }
.Seeall{
    display: flex;
    justify-content: space-between;
    }
.containerRT-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    background-color:white ;
}

    
    
.card-content{
    width: 100%;
    height: 50%
    ;
    }
.price{
    display:flex;
    gap: 30px;
    }
.discount{
    text-decoration-line: line-through;
    color:darkgray;
    }
.containerRB-menu{
    display:flex;
    justify-content: center;
    }
.containerRB-menu > ul{
list-style-type: none;


    }
.containerRB-menu > ul > li{
    display: inline;
    padding: 10px
   
    }
.containerRB-menu > ul > li:hover{
    background-color: grey;
    cursor: pointer;
        } 
.containerRB-content{
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width:100%;
    background-color:white ;
}  
.card{
    background-color: #f4f6f5;
    border-radius: 2px;
    padding:5px;
    width: calc(33% - 30px)
    }
.card-image > img{
    width: 50%;
    }
.item4{
    grid-row:1 / 4
}
.item7{
    grid-row:2 / 4
}