*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --carousel-cap:#1e1a16;
    --carousel-bg:#f4f3f1;
}

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* Header CSS */
.container > .navbar-brand
{
   color: #4c2e10;
   font-weight: 700;
   font-family: opificio;
}
.carousel-item > .d-block
{
    height: 480px;
    width: 100%;
}
.carousel-caption
{
    background-color:var(--carousel-bg) ;
    color: var(--carousel-cap);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}


/* Main CSS */
.arrow-button
{
    position:fixed;
    bottom: 30px;
    right: 50px;
    z-index: 9;
}

.arrow-button a{
    width: 70px;
    height: 67px;
    text-align: center;
    background-color: #f4f3f1;
    color: #333;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.arrow-button a span{
    color: #333;
    line-height: 67px;
    font-size: 25px;
}



/* Footer CSS */
.footer-container
{
    background: #4c2e10;
}
.f-ads
{
        font-family:opificio ;
        font-weight: 700;   
}

.f-ads-btn
{
    font-family:opificio ;
    font-weight: 700; 
    background-color: #f4f3f1;
    width: 190px;
    height: 50px;
    border-radius: 360px;
    justify-content: center;
    padding:10px;
}

.footer-head
{
    font-family:opificio ;
    font-weight: 700;
}

.footer-head--title
{
    font-size: small;
}

.btn-floating
{
    font-size: 22px;
}

.footer-info
{
    font-size: small;
}

.footer-info--title
{
    font-family: opificio;
    font-weight: 700;
    font-size: 15px;
}

.footer-info >.footer-info--text > .f-text-link
{
    text-decoration: none;
    font-size: 12px;
}


@font-face {
    font-family: opificio;
    src: url('../font/opificio-font/OpificioLight-oYgx.ttf');
    font-weight: 500;
}

@font-face {
    font-family: opificio;
    src: url('../font/opificio-font/OpificioBold-XYqG.ttf');
    font-weight: 700;
}
